<h1>take a break</h1>
<br/>
<h2>This moment is your life</h2>
<p>    Your life is not between the moments of your birth and death. Your life is between now and your next breath. The present – the here and now – is all the life you ever get. So live each moment in full, in kindness and peace, without fear and regret. And do the best you can with what you have in this moment; because that is all you can ever expect of anyone, including yourself。</p>
<br/>
<h2>A lifetime isn’t very long</h2>
<p>
This is your life, and you’ve got to fight for it. Fight for what’s right. Fight for what you believe in. Fight for what’s important to you. Fight for the people you love, and never forget to tell them how much they mean to you. Realize that right now you’re lucky because you still have a chance. So stop for a moment and think. Whatever you still need to do, start doing it today. There are only so many tomorrows。	
</p>
<br/>
<h2>When you procrastinate, you become a slave to yesterday</h2>
<p>When you are proactive, it’s as if yesterday is a kind friend that helps take a load off your back. So do something right now that your future self will thank you for. Trust me, tomorrow you’ll be happy you started today</p>
<br/>
<h2>Failures are only lessons</h2>
<p>Good things come to those who still hope even though they’ve been disappointed, to those who still believe even though they’ve tasted failure, to those who still love even though they’ve been hurt. So never regret anything that has happened in your life; it cannot be changed, undone or forgotten. Take it all as lessons learned and move on with grace</p>
<br/>
<h2>Small acts of kindness can make the world a better place</h2>
<p>Smile at people who look like they are having a rough day. Be kind to them. Kindness is the only investment that never fails. And wherever there is a human being, there’s an opportunity for kindness. Learn to give, even if it’s just a smile, not because you have too much, but because you understand there are so many others who feel like they have nothing at all</p>
<br/>
<h2>Behind every beautiful life, there has been some kind of pain.</h2>
<p>You fall, you rise, you make mistakes, you live, you learn. You’re human, not perfect. You’ve been hurt, but you’re alive. Think of what a precious privilege it is to be alive – to breathe, to think, to enjoy, and to chase the things you love. Sometimes there is sadness in our journey, but there is also lots of beauty. We must keep putting one foot in front of the other even when we hurt, for we will never know what is waiting for us just around the bend。</p>

<p><%= link_to "message borad", posts_path %></p>
