<h1>welcome</h1>
<p>   The highest good is like that of water. The goodness of water is that it benefits the ten thousand creatures; yet itself does not scramble, but is content with the places that all men disdain. </p>

<p>   It is this that makes water so near to the Way. </p>

<p>   And if men think the ground the best place for building a house upon, If among thoughts they value those that are profound, If in friendship they value gentleness, In words, truth; in government, good order; In deeds, effectiveness; in actions, timeliness- In each case it is because they prefer what does not lead to strife,And therefore does not go amiss.</p>

<p><%= link_to "records", posts_path %></p>
