 <hr/>
 <label id="read_me_flag" onmouseover="hidden_text.style.display='block';" onmouseout="hidden_text.style.display='none';">read me</label>
 <hr/>

 <div id="hidden_text">
<table>
  <tr>
  <th><%= image_tag("lin.jpg")%></th>  
  <th><p class="en_text"><%=$read_me%></p></th>
  </tr>
 </table>
 </div>

<h1 class="h1c">Daily sentence</h1>
</br>

<table border="1" cellspacing="0" cellpadding="0" bgcolor="#ECECFF" style="width: 60%;margin:auto">
<td><%= raw(@sentence) %></td>

</table>
</br>
</br>
